input:active,
input:focus {
  outline: 2px dashed rgb(6, 113, 179) !important;
  box-shadow: none !important;

}
.back-window {
  background-image: url('../assets/signup_back.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}